<h1>My Friends</h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
<% }) %>

<form action="/addfriend" method="POST">
    <input type="text" placeholder="Name" name="newFriend">
    <button>I have a new friend</button>
</form>